<header>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'catalog:product_list' %}">Главная</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
      <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn nav-link">Выход</button>
      </form>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a>
  </li>
</ul>
</header>
