{% extends 'catalog/base.html' %}
{% block content %}

<div class="container" >
    <div class="row" >
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="card" >
                <div class="card-body" >
                  {% csrf_token %}
                  {{ form.as_p }}
                </div>
                <div class="row" >
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Войти
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}